@import "./styles/base.css";
@import "./styles/navbar.css";
@import "./styles/login.css";
@import "./styles/home.css";
@import "./styles/reportes.css";
@import "./styles/modal.css";
@import "./styles/adminusers.css";